@import "variables";

.dashboard-container {
    width: 100%;
    height: 100%;
    margin-top: 4rem;
    min-height: 100vh;
    padding: 2rem;


    .dashboard {
        min-height: 100vh;


        .grid-container {
            display: grid;

            @media (min-width: 1200px) {
                grid-template-columns: repeat(4, 1fr);
            }

            @media (min-width: 800px) and (max-width: 1199px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 799px) {
                grid-template-columns: repeat(1, 1fr);
            }

            gap: 1rem;

            .grid-item {
                background-color: white;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 1rem;
                border-radius: 1.2rem;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                min-height: 4rem;

                .card-footer {
                    display: flex;
                    justify-self: flex-end;
                    justify-content: space-between;
                    align-items: flex-end;

                    .total-count {
                        font-size: 2.2rem;
                    }

                    .tranding {
                        display: flex;
                        flex-direction: column;
                        font-size: 1em;

                        .trand-count {
                            align-self: flex-end;
                        }

                        .trand-text {
                            font-size: 0.7em;
                            align-self: flex-end;
                        }
                    }
                }
            }

            .col-2 {
                grid-column: span 2;
                /* Span this item across 2 columns */
            }

            .row-2 {
                grid-row: span 2;
            }

            // @include media("<=phone") {
            //     .col-2 {
            //         grid-column: 1;
            //     }
            // }
        }

        .doughnut-chart {
            align-self: stretch;
            max-width: 20em;
        }
    }
}

.select {
    background-color: white;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 12rem;
    padding: 1rem;
    margin-bottom: 1rem;
    justify-self: flex-start;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.quick-actions {
    background-color: white;
    color: black;
    border: none;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.grid-item-title {
    justify-self: flex-start;
    font-size: 1.2rem;
    color: #00000096;
    font-weight: 600;
}

.card-header {
    display: flex;
    justify-self: flex-start;
    justify-content: space-between;
    align-items: flex-start;
}

.card-header-left {
    display: flex;
    flex-direction: column;
}

.card-header-right {
    text-decoration: none;
    align-self: flex-start;

    background: none; /* Remove background */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
    // font-size: 16px; /* Adjust font size */
    cursor: pointer; /* Add cursor pointer */
    color: inherit; /* Use parent text color */
}

.user{
    background-color: white;
    margin: 0.4rem;
    display: flex;
    // min-height: 4rem;
    border-radius: 1.2rem;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-items: flex-start;
    width: 100%;
    min-width: 60rem;
    // justify-content: space-between;

    .user-data {
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }

    // .log-data {
    //     display: flex;
    //     justify-content: space-between;
    //     width: 100%;
    //     padding: 1rem;
    //   }

    img {
        border-radius: 1.2rem;
    }

    .user-actions {
        align-self: flex-end;
        margin: 0.4rem;
      }

    // @include media("<=phone") {
    //     img{
    //         height: 4rem;
    //     }
    // }
}

.header-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

.data-item {
    display: flex;
}

// .log {
//   display: flex;
//   flex-direction: column;
//   margin: 20px;
//   background-color: white;
  
//   .log-header {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr 1fr auto; /* Create 5 columns for the content and 1 for the actions */
//     gap: 10px;
//     padding: 10px 0;
//     font-weight: bold;
//     border-bottom: 2px solid #ccc;

//     .header-item {
//       text-align: center;
//       color: #333;
//     }

//     .header-actions {
//       text-align: center;
//     }
//   }

//   .log-data {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr 1fr auto;
//     gap: 10px;
//     padding: 10px 0;
//     border-bottom: 1px solid #e0e0e0;

//     .status-code,
//     p {
//       text-align: center;
//       font-size: 14px;
//     }

//     .user-actions {
//       text-align: center;
//     }
//   }
// }


.log {
    display: flex;
    flex-direction: column;
    border-radius: 0.4rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid black;

    .log-header {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
        font-weight: bold;
        border-bottom: 2px solid white;
      
      .header-item {
        text-align: center;
        color: black;
        font-size: 1rem;
        letter-spacing: 0.5px;
      }
  
      .header-actions {
        text-align: center;
      }
    }
  
    .log-data {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      background-color: white;
  
      .status-code,
      p {
        text-align: center;
        font-size: 1rem;
        padding: 0.5rem;
        border-radius: 0.5;
      }
  
      .status-code {
        font-weight: bold;
        color: red;
      }
  
      .user-actions {
        text-align: center;
      }
  
    //   &:hover {
    //     background-color: white;
    //   }
    }
  
    /* Media Query for Small Devices */
    @media (max-width: 768px) {
      .log-header, .log-data {
        display: block; /* Stack items vertically */
        margin-bottom: 0.5rem;
      }
  
      .log-header .header-item,
      .log-data p {
        width: 100%;
        text-align: left;
        padding: 0.5rem 0;
        border-bottom: 1px solid #f0f0f0;
      }
  
      .log-data .status-code,
      .log-data p {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
      }
  
      .log-header {
        border-bottom: none;
      }
    }
  }

.video-error {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

// Feedback List
.feedback-list {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    .feedback-item, .feedback-header {
        border: 1px solid black;
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .sender {
            display: flex;
            align-items: center;
            width: 14rem;
            margin-left: 1rem;

            .sender-name {
                flex: 1;
                word-wrap: break-word; // Wrap long words
                overflow-wrap: break-word; // Modern browsers
                white-space: normal; // Prevent text from staying in a single line
            }

            .sender-image {
                width: 2rem;
                border-radius: 2rem;
                margin-right: 0.4rem;
            }
        }

        .feedback-app {
            min-width: 10rem;
        }

        .feedback-type {
            min-width: 10rem;
            font-weight: 600;
        }

        .feedback-text {
            font-size: 1rem;
            flex: 2;
            margin-left: 1rem;
            word-wrap: break-word; // Wrap long words
            overflow-wrap: break-word; // Modern browsers
            white-space: normal; // Prevent text from staying in a single line
        }

        // Responsive stacking
        @media (max-width: 40em) {
            flex-direction: column;
            align-items: flex-start;

            .sender {
                margin-left: 0;
            }
            
            .sender-name,
            .feedback-type,
            .feedback-text {
                margin: 0.5rem 0;
            }

            .feedback-text {
                margin-left: 0;
            }
        }
    }

    .feedback-header {
        // border: none;
        // margin: 1rem;
        font-weight: bold;
    }
}