@import "variables";

.dashboard-container {
    width: 100%;
    height: 100%;
    margin-top: 4rem;
    min-height: 100vh;
    .dashboard{

   .widget-container{
    margin: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .widget-box {
        width : 15rem;
        height : 10rem;
        box-shadow :0 0 14px 1px hsl(266deg 33% 41% / 15%);
        margin : 0.5rem;
        gap : 1rem;
        display : flex; 
     
        border-radius : 10px;
        > .data {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: center;
          gap: 0.2rem;
          padding : 1rem;
          > .widget-title {
              font-size : 0.7rem;
              color :  #00000096;
              font-weight : 600; 
          }
          > h5 {
              font-size : 1.2rem;
          }
          > .tranding {
              font-size : 0.8rem
          }
        }
        .widgetCircle{
          > .circle-div {
              display: flex;
              height: 5rem;
              justify-content: center;
              width: 5rem;
              position : relative;
              border-radius: 50%;
              align-items: center;
              &::before {
                  content : "";
                  width : 4rem;
                  position: absolute;
                  height : 4rem;
                  border-radius : 50%;
                  z-index: 1;
                  background : white;
              }
              > .circle-data {
                  z-index : 2;
               }
           }
      
      }
    }
   }

    
    .graph-container {


        display: flex;
        gap: 1rem;
        flex-direction: row;
        justify-content: space-around;
        margin: 10px 10px 10px 10px;
        flex-wrap: wrap;
        padding-bottom: 1rem;
        .bar-chart{
            .bar-title{
                margin: 0.5rem ;
                text-align: center;

            }
            min-width: 400px;
            width: 60%;
            padding: 1rem;
    
            border-radius: 2rem;
            box-shadow: 
            0 4px 8px 0 rgba(0, 0, 0, 0.2), /* Light shadow */
        
        }
        .pie-chart{
            .pie-title {
                margin: 0.5rem ;
                text-align: center;
            }
            min-width: 300px;
            width: 30%;
            padding: 1rem;
            border-radius: 2rem;
            box-shadow: 
            0 4px 8px 0 rgba(0, 0, 0, 0.2), /* Light shadow */
        
        }

    }
}
}
