@import "animation";
@import "form-group";

.auth-container, .verify-container, .not-found-container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .form-container {
    flex: 1;
    position: relative;
    overflow: hidden;
    padding-top: 6rem;
    padding-bottom: 6rem;

    @include media("<=phone") {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    form {
      width: 50%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;

      @include media("<=phone") {
        width: 83.3333333%;
      }

      .big-message-container {
        border: 0;
        tab-size: 4;
        -webkit-text-size-adjust: 100%;
        text-align: center;
        margin: 6rem 0 0;
        font-size: 4.5rem;
        line-height: 1;
        font-weight: 100;
        color: #6b0092;
      }

      .heading-container {
        margin-top: 2.5rem;
        color: rgb(31, 41, 55);

        h2 {
          font-size: 1.875rem;
          line-height: 2.25rem;
          color: inherit;
          font-weight: inherit;
          text-transform: capitalize;
        }

        p {
          margin-top: .75rem;
          color: inherit;

          span {
            margin-left: .5rem;
            cursor: pointer;
            color: #6b0092;
            // color: rgb(239, 68, 68)
          }

        }

      }

      .interaction-container {
        margin-top: 3rem;

        .form-group.many {
          flex-direction: row;

          * {
            &:not(:last-child) {
              margin-right: 1.5rem;
            }
          }

        }

        .forgot-password-container {
          text-align: right;

          span {
            color: #6b0092;
            cursor: pointer;
          }
        }

        .legal-links-container, .copyright {
          font-size: .875rem;
          line-height: 1.25rem;
          text-align: left;
          margin: 1.5rem 0 0;

          span {
            color: #6b0092;
            cursor: pointer;
          }

        }

        .copyright {
          text-align: center;
        }

      }

    }

  }

}

