.comments-container {
  background: #fff;
  width: 30vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  transform: translateX(100%);
  transition: all 1s;
  transition-timing-function: cubic-bezier(.17, .67, .83, .67);

  @include media("<=desktop") {
    width: 100vh;
  }

}

.comments-show {
  transform: translateX(0);
}