@import "variables";
/*Using BEM Convention for CSS Naming*/
::-webkit-scrollbar {
  width: 0;
  background: transparent;
  -webkit-appearance: none;
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.feed-mobile {
  * {
    color: #fff;
  }

  svg path {
    stroke-width: 1;
  }

  video {
    pointer-events: none;
  }
}

html {
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
}

html,
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.feed {
  overflow-y: scroll;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  max-height: 100vh;
}

.feed::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

*::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

.feed_video-container {
  height: calc(100vh - 3rem);
  width: 100vw;
  overflow: hidden;
  position: relative;
  scroll-snap-align: start;
}

.feed_video-container__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

div.feed_video-container:last-of-type {
  margin-bottom: 3rem;
}

.video__video-post-interaction-buttons {
  position: absolute;
  z-index: 2;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  max-width: 5rem;
}

.video__video-post-interaction-buttons > div {
  margin-top: 1rem;
}

.video__post-information {
  position: absolute;
  bottom: 1%;
  width: 100vw;
  height: 5rem;
  display: flex;
  padding: 10px;
  align-items: flex-end;
  justify-content: space-between;
}

.video__post-information__interaction-button-follow {
  position: relative;
  display: flex;
  justify-content: center;

  * {
    pointer-events: none;
  }
}

.video__post-information__interaction-button-follow__plus {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background: red;
  border-radius: 100%;
  height: 1rem;
  width: 1rem;
}

.video__post-information__interaction-button-follow__plus {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;

  svg {
    height: 100%;

    path {
      stroke-width: 3;
    }
  }
}

.video__post-information__interaction-button-follow > img {
  max-width: 3rem;
  height: auto;
  border-radius: 100%;
}

.video__post-information__interaction-button {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;

  * {
    pointer-events: none;
  }

  svg, img {
    height: auto;
    width: 48px;
    -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
  }
}

.video__post-information__text__music {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video__post-information__text__music__icon {
  height: 1rem;
  width: 1rem;
}

.video__post-information__text__username {
  font-size: 1.2em;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.video__post-information__text__username > img {
  width: 1.2rem;
  height: auto;
  margin-left: 5px;
}

.video__post-information__vinyl > img {
  width: 3rem;
  height: auto;
}

.video__post-information__vinyl > .spin {
  animation: vinyl-rotation 2s infinite linear;
}

@keyframes vinyl-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.bottom-navigation {
  background: #000;
  height: 3rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: 5px 0;
  position: fixed;
  width: 100vw;
  bottom: 0;
  z-index: 2;
  left: 0;

  a {
    display: grid;
    min-width: 38px;
  }

  svg {
    height: 100%;

    path {
      stroke: rgba(255, 255, 255, 0.8);
    }
  }

  .active {
    svg {
      path {
        stroke: rgba(255, 255, 255, 1);
      }
    }
  }
}

.information-dialog-model {
  padding: 1rem 2rem;
  border-radius: 2rem;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  z-index: 4;
  color: #000;
  width: 90vw;
  flex-direction: column;
  align-items: center;
}

.information-dialog-model > * {
  color: #000;
}

.information-dialog-model--active {
  display: flex;
}

.information-dialog-model__waitlist-link {
  text-decoration: none;
  padding: 1rem 3rem;
  background: #fbe7e0;
  color: #ff5336;
  display: flex;
  flex-wrap: nowrap;
  border-radius: 2rem;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.information-dialog-model__heading {
  font-weight: 500;
}

.information-dialog-model__description {
  margin: 20px 0;
}

.information-dialog-model__community-icons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  .community-icons__icon-container {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    svg {
      color: $theme-color;
      width: 2.5em;
      height: 2.5em;
    }

    span {
      text-transform: uppercase;
      font-size: 0.6em;
    }
  }
}

.feed-backdrop {
  opacity: 0.5;
  pointer-events: none;
}

.information-dialog-model__waitlist-link__arrow-right {
  height: 2em;
  color: #ff5336;
  stroke: #ff5336;
}

.information-dialog-model__close {
  background: red;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  transform: translate(25%, -25%);
}

.feed_video-container__play {
  opacity: 0.9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 5rem;
}

// picture-in-picture component
.feed_video-container__pip {
  opacity: 0.9;
  position: absolute;
  top: 88%;
  left: 95%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 5rem;
}

.feed_video-container__play--hidden {
  display: none;
}

.error-orientation {
  font-weight: lighter;
  margin: 10px;
}

.information-dialog-model__number-input {
  padding: 1rem;
  border-radius: 2rem;
  outline: none;
  width: 100%;
  background: #f7f7f7;
  border: none;
}

.information-dialog-model__confetti {
  width: 80%;
  height: auto;
}

.feed_video-container:last-child {
  margin-bottom: 3rem;
}

.feed_video-container.loading {
  &:before {
    content: "";
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    animation: vloader-spin 1s linear;
    min-height: 40px;
    min-width: 40px;
    height: 40px;
    width: 40px;
    z-index: 1;
    background: #fff url("https://shelter-cdn.nyc3.cdn.digitaloceanspaces.com/flic/assets/spinner.gif") no-repeat center center;
  }
}

.feed-mobile video {
  pointer-events: fill;
}

@-moz-keyframes vloader-spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-webkit-keyframes vloader-spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes vloader-spinspin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
