@import "variables";

.profile-tabs{
  .react-tabs{
    .react-tabs__tab-list{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      .react-tabs__tab{
        text-transform: uppercase;
        flex-basis: 33%;
        color:#000;
        background: #f3f3f3;
        padding: 1rem 0;
      }
      .react-tabs__tab--selected{
        color: $theme-color;
        background-color: #fff;
      }
    }

    //.react-tabs__tab-panel--selected{
    //  border-top: 1px solid $theme-color;
    //}

  }
}

